*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

#loader {
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    border-top: 5px solid #00a4eb;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}